# Ignore node modules and other dependencies
node_modules
npm-debug.log
yarn-error.log

# Ignore local development files
.env
.DS_Store

# Ignore logs
logs
*.log

# Ignore test files
__tests__
coverage
*.spec.js

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore Git files
.git
.gitignore

# Ignore build artifacts
dist
build
